PyYAML==5.3.1
Sphinx-Substitution-Extensions==2020.9.30.0
Sphinx==3.2.1
VWS-Test-Fixtures==2020.9.25.1
attrs==20.2.0  # Modern attrs is required for pytest
autoflake==1.4
black==20.8b1
check-manifest==0.43
doc8==0.8.1
docker==4.3.1
dodgy==0.2.1  # Look for uploaded secrets
flake8-commas==2.0.0  # Require silicon valley commas
flake8-quotes==3.2.0  # Require single quotes
flake8==3.8.3  # Lint
freezegun==1.0.0  # Freeze time in tests
func-timeout==4.3.5
isort==5.5.4  # Lint imports
keyring==21.4.0
mypy==0.782 # Type checking
pip_check_reqs==2.1.1
pydocstyle==5.1.1  # Lint docstrings
pyenchant==3.1.1  # Bindings for a spellchecking sytem
pygithub==1.53
pylint==2.6.0  # Lint
pyroma==2.6  # Packaging best practices checker
pytest-cov==2.10.1  # Measure code coverage
pytest-envfiles==0.1.0  # Use files for environment variables for tests
pytest==6.1.0  # Test runners
requests-mock-flask==2020.9.25.0
sphinx-autodoc-typehints==1.11.0
sphinx_paramlinks==0.4.2
sphinxcontrib-spelling==5.4.0
twine==3.2.0
vulture==2.1
vws-python==2020.9.28.0
