recursive-include src/mock_vws/resources *
recursive-include src/mock_vws/_query_validators/resources *
include src/mock_vws/py.typed
include requirements.txt
include dev-requirements.txt
include pyproject.toml
