VUFORIA_TARGET_MANAGER_DATABASE_NAME=example_database_name

VUFORIA_SERVER_ACCESS_KEY=example_server_access_key
VUFORIA_SERVER_SECRET_KEY=example_server_secret_key

VUFORIA_CLIENT_ACCESS_KEY=example_client_access_key
VUFORIA_CLIENT_SECRET_KEY=example_client_secret_key

INACTIVE_VUFORIA_TARGET_MANAGER_DATABASE_NAME=example_inactive_database_name

INACTIVE_VUFORIA_SERVER_ACCESS_KEY=example_inactive_server_access_key
INACTIVE_VUFORIA_SERVER_SECRET_KEY=example_inactive_server_secret_key

INACTIVE_VUFORIA_CLIENT_ACCESS_KEY=example_inactive_client_access_key
INACTIVE_VUFORIA_CLIENT_SECRET_KEY=example_inactive_client_secret_key

VUMARK_VUFORIA_TARGET_MANAGER_DATABASE_NAME=example_vumark_database_name
VUMARK_VUFORIA_TARGET_ID=examplevumarktargetid

VUMARK_VUFORIA_SERVER_ACCESS_KEY=example_vumark_server_access_key
VUMARK_VUFORIA_SERVER_SECRET_KEY=example_vumark_server_secret_key
