---

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8]
        ci_pattern:
            - test_query.py
            - test_add_target.py

    steps:
      - uses: actions/checkout@v2
      - name: "Set up Python"
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      # - name: "Install dependencies"
      #   run: |
      #     python -m pip install --upgrade pip
      #     python -m pip install --upgrade --editable .[dev]
      #     sudo apt-get install -y enchant

      - name: "Set secrets file"
        run: |
          export MATRIX=${{ matrix }}
          python ci/set_secrets_file.py
        env:
            CI_PATTERN: ${{ matrix.indexOf(${{ matrix.ci_pattern }}) }}

      # - name: "Lint"
      #   run: |
      #     make lint

      # - name: "Run tests"
      #   run: |
      #     pytest -s -vvv --cov-fail-under 100 --cov=src/ --cov=tests tests/ --cov-report=xml
      #
      # - name: "Upload coverage to Codecov"
      #   uses: "codecov/codecov-action@v1"
      #   with:
      #     fail_ci_if_error: true
