---
name: Build Docker images

# This matches the Docker image building done in the release process.
#
# It is possible to use https://github.com/nektos/act to run this workflow.

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron: 0 1 * * *
  workflow_dispatch: {}

permissions: {}

jobs:
  build:
    name: Build Docker images
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Check Docker bake definition
        uses: docker/bake-action@v6.10.0
        with:
          call: check
          files: docker-bake.hcl

      - name: Build Docker images
        uses: docker/bake-action@v6.10.0
        with:
          files: docker-bake.hcl
          push: false
